* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  background: #091921;
}

body.light {
  background: #d1dae3;
}

.clock {
  width: 350px;
  height: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 4px solid #091921;
  background: url(clock.png);
  background-size: cover;
  border-radius: 50%;
  -webkit-box-shadow: 0 -15px 15px rgba(255, 255, 255, 0.05), inset 0 -15px 15px rgba(255, 255, 255, 0.05), 0 15px 15px rgba(0, 0, 0, 0.3), inset 0 15px 15px rgba(0, 0, 0, 0.3);
          box-shadow: 0 -15px 15px rgba(255, 255, 255, 0.05), inset 0 -15px 15px rgba(255, 255, 255, 0.05), 0 15px 15px rgba(0, 0, 0, 0.3), inset 0 15px 15px rgba(0, 0, 0, 0.3);
}

.clock::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  background: #fff;
  border-radius: 50%;
  z-index: 10000;
}

.clock .hour,
.clock .min,
.clock .sec {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.clock .hr,
.clock .mn,
.clock .sc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  border-radius: 50%;
}

.clock .hour .hr {
  height: 160px;
  width: 160px;
}

.clock .hour .hr::before {
  content: "";
  position: absolute;
  width: 8px;
  height: 80px;
  background: #ff105e;
  z-index: 10;
  border-radius: 6px 6px 0 0;
}

.clock .min .mn {
  height: 190px;
  width: 190px;
}

.clock .min .mn::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 90px;
  background: #fff;
  z-index: 11;
  border-radius: 6px 6px 0 0;
}

.clock .sec .sc {
  height: 230px;
  width: 230px;
}

.clock .sec .sc::before {
  content: "";
  position: absolute;
  width: 2px;
  height: 150px;
  background: #008eff;
  z-index: 12;
  border-radius: 6px 6px 0 0;
}

.clock .hr,
.clock .mn,
.clock .sc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  border-radius: 50%;
}

.toggleClass {
  position: absolute;
  top: 30px;
  right: 150px;
  width: 20px;
  height: 20px;
  font-size: 18px;
  background: #d1dae3;
  color: #d1dae3;
  border-radius: 50%;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.toggleClass::before {
  position: absolute;
  left: -88px;
  content: 'Light Mode';
}

body.light .clock {
  background: #d1dae3 url(clock.png);
  background-size: cover;
  border: 4px solid #cad3dc;
  -webkit-box-shadow: 0 -8px 15px rgba(255, 255, 255, 0.5), 20px 20px 10px rgba(0, 0, 0, 0.1), inset -8px -8px 15px rgba(255, 255, 255, 0.05), inset 0 15px 15px rgba(49, 21, 21, 0.1);
          box-shadow: 0 -8px 15px rgba(255, 255, 255, 0.5), 20px 20px 10px rgba(0, 0, 0, 0.1), inset -8px -8px 15px rgba(255, 255, 255, 0.05), inset 0 15px 15px rgba(49, 21, 21, 0.1);
}

body.light .clock::before {
  background: #008eff;
}

body.light .clock .min .mn::before {
  background: #091921;
}

body.light .clock .sec .sc::before {
  background: #008eff;
}

body.light .toggleClass {
  background: #091921;
  color: #091921;
}

body.light .toggleClass::before {
  content: 'Dark Mode';
}
/*# sourceMappingURL=style.css.map */